.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.title {
  width: 50%;
  color: #704824;
  text-shadow: 0px 4px 4.3px rgba(0, 0, 0, 0.15);
  font-size: 66px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}

.divider {
  display: block;
  width: 60%;
  height: 10px;
  border-radius: 500px;
  background: #078AC2;
  margin: 30px 0;
}